body{
    background-color: black;
}

#number1{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
#number2{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
#number3{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}
#btn1{
    width: 150px;
    height: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#btn2{
    width: 150px;
    height: 30px;
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#btn3{
    width: 150px;
    height: 30px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#btn4{
    width: 150px;
    height: 30px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 700px;
}
.box1{
    display: flex;
    gap: 80px;
}
.buttons{
    display: flex;
    gap: 30px;
}
#btn1{
    cursor: pointer;
}
#btn2{
    cursor: pointer;
}
#btn3{
    cursor: pointer;
}
#btn4{
    cursor: pointer;
}
